@import "tailwindcss";

:root {
  --background: #121212;
  --text: #e0e0e0;
  --text-muted: #bdbdbd
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('/fonts/Roboto-Bold.ttf') format('truetype');
}


body {
  background: var(--background);
  color: var(--text);
  font-family: 'Roboto-Bold', sans-serif;
}